openapi: 3.0.0
info:
  description: RTSのパス
  version: 0.0.1
  title: RTS API
  contact:
    email: touhouota.register@gmail.com
servers:
  - url: https://shikiyura.com/api
paths:
  /login:
    post:
      tags:
        - login
      description: ログイン時にたたかれるAPI
      requestBody:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginInformation"
      responses:
        200:
          description: 成功
        401:
          description: 入力が正しくない

  /user_time_separator:
    get:
      tags:
        - user_time_separator
      description: ユーザの時間の区切りを取得する
      responses:
        200:
          description: 成功時
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserTimeSeparator"
    post:
      tags:
        - user_time_separator
      description: クリックしたタイミングを保存する
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserTimeSeparator"
      responses:
        200:
          description: 成功時
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserTimeSeparator"
components:
  schemas:
    UserTimeSeparator:
      type: object
      properties:
        separated_at:
          type: string
    LoginInformation:
      type: object
      properties:
        name:
          type: string
        pw: string
